.p {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-size: 0.6em;
  padding: 1rem 0;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.ul {
  justify-content: center;
  display: flex;
}

.li {
  list-style-type: none;
  padding: 0.3rem;
}

.a {
  color: #a7a7a7;
}
