.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.figure_img {
  display: flex;
  position: relative;
  z-index: 11;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 84%, 1);
  border-radius: 50%;
  width: 13rem;
  height: 13rem;
}

.img {
  position: relative;
  z-index: 10;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  filter: grayscale(1);
}

.colors {
  position: absolute;
  background: conic-gradient(
    #ff0000,
    #ff9900,
    #ffff00,
    #33cc33,
    #0099ff,
    #6600cc,
    #ff0099,
    #ff0000
  );

  animation: rotate 10s linear infinite;
  opacity: 0.4;
  filter: blur(40px);

  padding: 4rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  z-index: 1;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
