.container_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 0.5px rgba(80, 90, 120, 0.05);
  border-radius: 5px;
}

.container {
  position: absolute;
  background-color: #fff;
  height: 300px;
  width: 600px;
  border-radius: 5px;
}
