.popover {
  height: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 1px rgba(80, 90, 120, 0.05);
  border-radius: 5px;
  padding: 24px;
}

.li {
  list-style: none;
}

.container {
  position: absolute;
  top: 80px;
  border-radius: 5px;
}

.arrow {
  position: absolute;
  top: 70px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 5px;
}

.h1 {
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
  font-weight: normal;
}

@media only screen and (min-width: 600px) {
  .container {
    display: block;
    z-index: 100;
  }
}
